{% extends 'base.html' %}
{% block content %}

  <div class="mt-4">
    <div class="text-center p-3">
        <h2 class="theme-color">Dashboard</h2>
    </div>
  </div>

  <div class="container">
    <div class="row my-4">

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='{% url 'dashboard:add_book' %}'">
          <i class="far fa-plus-square pr-3"></i> Add Books
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='{% url 'dashboard:search_available_book' %}'">
          <i class="fas fa-search pr-3"></i> Search Books
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='{% url 'dashboard:view_available_books' %}'">
          <i class="fas fa-boxes pr-3"></i> View Available Books
        </button>
      </div>

    </div>

    
  </div>
      

{% endblock  %}