{% extends 'dashboard/base.html' %}
{% block dashboardcontent %}

    {% if all_books.count > 0 %}

        <table class='table table-striped'>
            <thead>
                <tr>
                    <th scope='col'>Book ID</th>
                    <th scope='col'>Book Name</th>
                    <th scope='col'>Author Name</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in all_books %}
                    <tr>
                        <td scope='row'>{{item.id}}</th>
                        <td scope='row'>{{item.book_name}}</td>
                        <td scope='row'>{{item.author_name}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    {% else %}
        <h1 class='text-center'>No Books are thier to view....</h1>
    {% endif %}
    

    {% if user.is_authenticated %}
        <button class='btn action-btn btn-block' onclick="location.href={% url 'dashboard:dashboard_index' %}">Go Back</button>
    {% else %}
        <button class='btn action-btn btn-block' onclick="location.href='{% url 'index' %}'">Go Back</button>
    {% endif %}

{% endblock %}