{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container h-100">
    <div class="row text-center align-items-center h-100 " >
        <div class="col-12 mx-auto">
            <div class="mt-4">
                <div class="text-center p-2">
                    <h1 class="theme-color">{{ title }}</h1>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto">
            <div class="mt-4">
                <div class="text-center p-2">
                    <h3 class="theme-color">Developer</h3>
                </div>
            </div>
        </div>
  
       
        <!-- Team member-1 HERE -->
        <div class="col-lg-12 center team-menbers">
            <img src="{% static 'img/runal.png' %} " class="rounded-circle" width="120" height="120">
            <h6 class="m-1">Runal Banarse</h6>
            <a href="https://runalb.com" class="theme-color">runalb.com</a>
        </div>
           
    </div>


</div>
      

{% endblock  %}